<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">RaspberryPI Project</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/home_env_db">Home</a>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Data <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/home_temp">Current Data</a></li>
                    <li><a href="#">Download Data</a></li>
                    <li><a href="/to_plotly" id="plotly">Plotly</a></li>
                </ul>
            </li>
            <li>
                <a href="https://github.com/loloDawit/RaspberryPI-Project">Project Documentation</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </li>
            <li>
                <a href="/signin">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
        </ul>
    </div>
</nav>