<html>

<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">



        // Load the Visualization API and the piechart package.
        google.load('visualization', '1', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var jsonData = $.ajax({
                url: "http://10.0.0.54/data.json",
                dataType: "json",
            }).done(function (results) {
                // Create our data table out of JSON data loaded from server.
                var data = new google.visualization.DataTable();
                console.log(results);
                data.addColumn('datetime', 'Time');
                data.addColumn('number', 'Temp');
                
                results.forEach(function (packet) {
                   // console.log(packet);
                    console.log(packet[0]);
                    console.log(packet[2]);
                    data.addRow([
                        (new Date(packet[0])),
                        parseFloat(packet[2]),
                    ]);
                });
                
                var options = {
                    width:600,
                    height:563,
                    hAxis:{
                        title:"Date",
                        formar: 'dd-MMM-yyyy HH:mm'
                    },
                    vAxis:{
                        title: 'Degrees'
                    },
                    title: 'Temperature',
                    curveType: 'function'
                }
                
                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                chart.draw(data,options);
            });

        }
        google.load('visualization','1',{
            packages: ['corechart']
        });
        google.setOnLoadCallback(drawChart);


    </script>
</head>

<body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
</body>

</html>