<head>
    <title>Static Page</title>
    <!-- Mobile Spec Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!--CSS -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">

    <!-- FAVAICON-->
    <link rel="icon" type="/static/image/png" href="images/favicon.png">
</head>
<body>
    <h1>{{ message }}</h1>
    <p>Hi Dawit</p>
</body>
</html>