{% extends 'layout.html' %} {% block body %}

<div class="jumbotron text-center">
    <h1>RaspberryPI Project</h1>
    <p class="lead">This application is build using a RaspberryPI </p>

    <div class="container">
        <div class="text-center center-block">
            <br />
            <a class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span> Sign in with Google</a>
            <a class="btn btn-block btn-social btn-github"><span class="fa fa-github"></span> Sign in with Github</a>
        </div>
    </div>
</div>
{%endblock %}