<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Mobile Spec Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Home Temp/Hudi -RasPI">
    <meta name="author" content="Dawit Abera">
    <title>RaspberryPI Project</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    {% include 'includes/_navbar.html' %} {% block body %}{% endblock %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>