<head>
    <title>No Data Found </title>
    <!-- Mobile Spec Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,300,600" rel="stylesheet" type="text/css">
    <!--CSS -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">

    <!-- FAVAICON-->
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
</head>

<body>
    <h1>Sorry, can't access the sensor! </h1>
    <p>Please check sensor on the Raspberry!!</p>
</body>

</html>